@media screen and (max-width: 500px) {
    .Hero{
        

        }



    .pizza-grind-container {

        grid-template-areas:
            "item1"
            "item2"
            "item3"
            "item4"
            "item5"
            "item6"
            "item7"
            "item8"
            "item9"
            "BuildPizza";
    }
}