@media screen and (max-width: 500px) {
  .Hero {
    margin-top: 15px;
    height: 900px;
  }

  .Hero h1 {
    margin-top: -100px;
    font-size: 36px;
  }

  .Hero #Established {
    font-size: 24px;
  }

  .NavBar {
    flex-direction: column;
    height: auto;
    margin-top: 50px;
  }

  .NavItem {
    margin: 10px 0;
  }

  a {
    font-size: 20px;
  }

  .TittleBanner h2 {
    font-size: 24px;
    padding: 10px 0;
  }

  .TittleBanner2 h2 {
    font-size: 24px;
    padding: 10px 0;
  }

  .AboutParagraphs .paragraph p {
    font-size: 18px;
  }

  .FoodItem {
    margin: 10px auto;
    max-width: 95%;
  }
  .FoodItem h3 {
    font-size: 22px;
  }

  .FoodItem p {
    font-size: 16px;
  }

  .BuildPizza {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    gap: 15px;
    padding: 15px;
  }

  .pizza-grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10, auto);
    grid-template-areas:
      "item1"
      "item2"
      "item3"
      "item4"
      "item5"
      "item6"
      "item7"
      "item8"
      "item9"
      "BuildPizza";
    gap: 20px;
    max-width: 95%;
    margin: 20px auto;
    padding: 10px;
  }

  .salad-grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, auto);
    grid-template-areas:
      "item1"
      "item2"
      "item3"
      "item4"
      "item5"
      "item6"
      "HouseDressings";
    gap: 20px;
    max-width: 95%;
    margin: 20px auto;
    padding: 10px;
  }

  .sandwich-grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(11, auto);
    gap: 20px;
    max-width: 95%;
    margin: 20px auto;
    padding: 10px;
  }

  .cocktail-grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10, auto);
    grid-template-areas:
      "item1"
      "item2"
      "item3"
      "item4"
      "item5"
      "item6"
      "item7"
      "item8"
      "item9"
      "BuildPizza";
    gap: 20px;
    max-width: 95%;
    margin: 20px auto;
    padding: 10px;
  }

  .appetizer-grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    gap: 20px;
    max-width: 95%;
    margin: 20px auto;
    padding: 10px;
  }

  .address-section {
    font-size: 16px;
    text-align: center;
    margin: 10px auto;
  }
  
  .footer-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: 20px;
    max-width: 95%;
    margin: 20px auto;
    padding: 10px;
  }

  .hour-phone {
    grid-column: 1;
  }
}
