html {
    font-size: 16px;
    margin: 0 auto;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

body {
    background-image: url('../img/RusticWoodBackground.png');
}


/** Navigation Bar Styles **/
.NavBar {
    display: flex;
    width: 100%;
    height: 80px;
    background-color: #3b2f27;
    border: 4px gray solid;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.NavItem {
    display: flex;
    margin: 0 20px;
    background-color: #d4a373;
    height: 48px;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    border-radius: 4px;
    width: 100px;
}

.NavItem:hover {
    background-color: #f4a261;
}

a {
    color: #5d4037;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
}


/** Hero Section Styles **/
.Hero {
    background-image: url('../img/BrickOven.png');
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 60px 20px;
    border-radius: 30px;
    margin: 32px auto;
    max-width: 100%;
    height: 700px;
    border: 4px gray solid;
}

.Hero h1 {
    color: #d4a373;
    ;
}

/* Title Banner Styles **/
.TitleBanner {
    background-color: #3b2f27;
    border: 4px gray solid;
    border-radius: 20px;
    padding: 20px;
    margin: 32px auto;
    max-width: 100%;
    text-align: center;
}


@media screen and (max-width: 500px) {
    
    
}